<footer class="footers">
    <div class="container-footer">
        <div class="elemento">
            <h4>REDES SOCIALES</h4>
            <hr>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter</p>
        </div>
        <div class="elemento">
            <h4>REDES SOCIALES</h4>
            <hr>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter</p>
        </div>
        <div class="elemento">
            <h4>REDES SOCIALES</h4>
            <hr>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter</p>
        </div>
        <div class="elemento">
            <h4>REDES SOCIALES</h4>
            <hr>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter</p>
        </div>


    </div>
</footer>