<div class="container">
    <!-- tarjeta de estudios universitarios -->
    <div class="card mb-3 margin" style="max-width: 100%; height: 250px;">
        <div class="row g-0">
            <div class="col-md-4">
                <div src="..." class="fup img" alt="..."></div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">Universitarios: Ingeniería de Sistemas</h4>
                    <h5 class="card-title">Fundación Universitaria de Popayán</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">En Curso...</small></p>
                    <div class="alert alert-danger btn" role="alert">
                        No disponible!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tarjeta de estudios tecnicos -->
    <div class="card mb-3 margin" style="max-width: 100%; height: 250px;">
        <div class="row g-0">
            <div class="col-md-4">
                <div class="sena img"></div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">Técnicos:</h4>
                    <h5 class="card-title">Técnico en Sistemas</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Hace 5 Años</small></p>
                    <button type="button" class="btn btn-primary">Descargar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- tarjeta de cursos -->
    <div class="card mb-3 margin" style="max-width: 100%; height: 250px;">
        <div class="row g-0">
            <div class="col-md-4">
                <div class="udemy img"></div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">Udemy:</h4>
                    <h5 class="card-title">Desarrollo web</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Hace 6 meses</small></p>
                    <button type="button" class="btn btn-primary">Descargar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- tarjeta de cursos -->
    <div class="card mb-3 margin" style="max-width: 100%; height: 250px;">
        <div class="row g-0">
            <div class="col-md-4">
                <div class="web img"></div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">Udemy:</h4>
                    <h5 class="card-title">Desarrollo web - Curso de 40 horas - Virtual</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Hace 8 meses</small></p>
                    <button type="button" class="btn btn-primary">Descargar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- tarjetas de cursos variados: -->
    <div class="card mb-3 margin" style="max-width: 100%; height: 250px;">
        <div class="row g-0">
            <div class="col-md-4">
                <div class="sena img"></div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">Cursos: SENA</h4>
                    <h5 class="card-title">NIVEL INTERMEDIO - FACTURAR LOS SERVICIOS DE SALUD PRESTADOS SEGÚN PAGADOR, TIPO DE CONTRATACIÓN Y NORMATIVA VIGENTE.</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                    <button type="button" class="btn btn-primary">Descargar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- tarjetas de cursos variados: -->
    <div class="card mb-3 margin" style="max-width: 100%; height: 250px;">
        <div class="row g-0">
            <div class="col-md-4">
                <!-- img -->
                <div class="sena img"></div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">Cursos: Facturación SENA</h4>
                    <h5 class="card-title">CALCULO DE COSTOS POR ORDEN DE PRODUCCION</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Hace 6 Años</small></p>
                    <button type="button" class="btn btn-primary">Descargar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- tarjeta de estudios secundarios -->
    <div class="card mb-3 margin" style="max-width: 100%; height: 250px;">
        <div class="row g-0">
            <div class="col-md-4">
                <!-- img -->
                <div class="comfa img"></div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Secundaria:</h5>
                    <h5 class="card-title">Colegio Empresarial Comfacauca</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. <br> This content is a little bit longer Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. Non, error..</p>
                    <button type="button" class="btn btn-primary">Descargar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" routerLink="['Home']">Back Home</button>
<hr class="margin-bottom">