<header class="bg_animate">
    <div class="header_nav">
        <div class="contenedor">
            <h1>DnnCoder[R]</h1>
        </div>
    </div>
    <section class="banner contenedor">
        <section class="banner_title">
            <h2>Danny vivas <br>Desarrollador</h2>
            <a [routerLink]="['danny/danny.component.html']" class="llamanos">Go Somewere</a>
        </section>
        <div class="banner_img">
            <div class="img"></div>
        </div>
    </section>
    <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
    </div>
</header>