<!-- este es el contenedor de la seccion heroes -->

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4 margin">
        <!-- tarjeta experiencia uno -->
        <div class="col">
            <div class="card">
                <div class="batman img margin"></div>
                <div class="card-body ">
                    <h4 class="card-title ">Empresa Uno</h4>
                    <h5>Descripcion:</h5>
                    <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, odit. Autem eum voluptates vitae laudantium totam alias maiores molestias porro.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cargo: Facturador</li>
                    <li class="list-group-item">Area: Administrativa</li>
                    <li class="list-group-item">
                        <p class="card-text"><small class="text-muted">Popayán junio de 2015 - marzo de 2019</small></p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- tarjeta experiencia dos -->
        <div class="col">
            <div class="card">
                <div class=" img margin"></div>
                <div class="card-body ">
                    <h4 class="card-title ">Empresa Dos</h4>
                    <h5>Descripcion:</h5>
                    <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, odit. Autem eum voluptates vitae laudantium totam alias maiores molestias porro.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cargo: Facturador</li>
                    <li class="list-group-item">Area: Administrativa</li>
                    <li class="list-group-item">
                        <p class="card-text"><small class="text-muted">Popayán junio de 2015 - marzo de 2019</small></p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- tarjeta experiencia tres -->
        <div class="col">
            <div class="card">
                <div class=" img margin"></div>
                <div class="card-body ">
                    <h4 class="card-title ">Empresa Tres</h4>
                    <h5>Descripcion:</h5>
                    <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, odit. Autem eum voluptates vitae laudantium totam alias maiores molestias porro.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cargo: Facturador</li>
                    <li class="list-group-item">Area: Administrativa</li>
                    <li class="list-group-item">
                        <p class="card-text"><small class="text-muted">Popayán junio de 2015 - marzo de 2019</small></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>