<div class="">
    <div class="d-flex container">
        <img class="img" alt="">
        <h1 class="text-principal">HOJA DE VIDA</h1>
    </div>

    <div class="container text-center">
        <div class="elemento">
            <h4>DATOS PERSONALES</h4>
            <label for="">Nombre:</label>
            <p>Dannmy Mauricio Vivas Mera</p>
            <label for="">Fecha de nacimiento:</label>
            <p>21 de febrero de 1993</p>
            <label for="">Numero de Documento:</label>
            <p>1061728991</p>
        </div>
        <div class="elemento">
            <h4>ESTUDIOS</h4>
            <label for="">Primaria:</label>
            <p>Colegio Don Bosco</p>
            <label for="">Secundaria:</label>
            <p>Colegio Comfacauca</p>
            <label for="">Universitarios:</label>
            <p>Fundación Universitaria de Popayán</p>
        </div>
        <div class="elemento">
            <h4>CONTACTO</h4>
            <label for="">Cel y whatsapp:</label>
            <p>3146592401</p>
            <label for="">Correo principal:</label>
            <p>dvivasmera@gmail.com</p>
            <label for="">Correo institucional:</label>
            <p>dvivasmera@fup.edu.co</p>
        </div>
        <div class="elemento">
            <h4>ENTRETENIMIENTO</h4>
            <label for="">Deportes:</label>
            <p>FUTBOL</p>
            <label for="">Artes:</label>
            <p>GUITARRA</p>
            <label for="">Pasatiempo:</label>
            <p>VIDEO JUEGOS</p>
        </div>
    </div>



    <div class="tag text-center">
        Soy un entusiasta de la tecnología, me apasiona saber que se puede hacer con esa caja llena de circuitos integrados. Me gusta ahondar en temas relevantes como el trabajo en equipo y la programación funcional, espero poder aprender todos los dias algo
        nuevo. Doy lo mejor de mi siempre y mas cuando algo me apasiona tanto!
    </div>

    <button type="button" class="btn btn-primary" routerLink="['Home']">Back Home</button>
</div>