<!-- este es el contenedor de la seccion heroes -->

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4 margin">
        <!-- card batman -->
        <div class="col">
            <div class="card">
                <div class="batman img margin"></div>
                <div class="card-body ">
                    <h5 class="card-title ">Batman</h5>
                    <p class="card-text ">Batman, conocido inicialmente como Bat-Man y en español como el Hombre Murciélago, es un personaje de cómic creado por los estadounidenses Bob Kane y Bill Finger, y propiedad de DC Comics. Apareció por primera vez en la historia titulada
                        El caso del sindicato químico» de la revista Detective Comics N.º 27, lanzada por la editorial National Publications el 30 de marzo de 1939.</p>
                </div>
            </div>
        </div>
        <!-- card aquaman -->
        <div class="col">
            <div class="card">
                <div class="aquaman img margin"></div>
                <div class="card-body ">
                    <h5 class="card-title ">Aquaman</h5>
                    <p class="card-text ">Aquaman, Arthur Curry, en español: Hombre Acuático es un superhéroe que aparece en los cómics estadounidenses publicados por DC Comics. Creado por el artista Paul Norris y el escritor Mort Weisinger, el personaje debutó en More Fun
                        Comics # 73 noviembre de 1941 Inicialmente, una característica de respaldo en los títulos de antología de DC, Aquaman más tarde protagonizó varios volúmenes de una serie.</p>
                </div>
            </div>
        </div>
        <!-- card linterna verde -->
        <div class="col">
            <div class="card">
                <div class="linterna-verde img margin"></div>
                <div class="card-body ">
                    <h5 class="card-title ">Linterna Verde</h5>
                    <p class="card-text ">Linterna Verde, en inglés: Green Lantern es el alias de varios superhéroes de la ficción del Universo DC, de la editorial DC Comics, los cuales se caracterizan por portar un anillo de poder y tener la capacidad de crear manifestaciones
                        de luz sólida con dichos anillos. El primer Linterna Verde, Alan Scott hizo su debut en julio de 1940 en el All-American Comics #16 portada de Sheldon Moldoff durante la Edad de Oro del Cómic estadounidense.</p>
                </div>
            </div>
        </div>
        <!-- card spiderman -->
        <div class="col">
            <div class="card">
                <div class="spiderman img margin"></div>
                <div class="card-body ">
                    <h5 class="card-title ">Spider Man</h5>
                    <p class="card-text ">Spider-Man, traducido en ocasiones como Hombre Araña, es un personaje creado por los estadounidenses Stan Lee y Steve Ditko, e introducido en el cómic Amazing Fantasy n.° 15, publicado por Marvel Comics en agosto de 1962. Se trata
                        de un superhéroe que emplea sus habilidades sobrehumanas, reminiscentes de una araña, para combatir a otros supervillanos que persiguen fines siniestros</p>
                </div>
            </div>
        </div>
        <!-- card wolverine -->
        <div class="col">
            <div class="card">
                <div class="wolverine img margin"></div>
                <div class="card-body ">
                    <h5 class="card-title ">Wolverine</h5>
                    <p class="card-text ">Es un mutante que posee sentidos afinados a los animales, capacidades físicas mejoradas, poderosa capacidad de regeneración conocida como un factor de curación, y tres garras retráctiles en cada mano. Wolverine ha sido representado
                        de diversas formas como miembro de los X-Men, Alpha Flight, Fuerza-X y Los Vengadores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius odit quos reiciendis quam accusamus laboriosam!</p>
                </div>
            </div>
        </div>
        <!-- card hulk -->
        <div class="col">
            <div class="card">
                <div class="hulk img margin"></div>
                <div class="card-body ">
                    <h5 class="card-title ">Hulk</h5>
                    <p class="card-text ">Hulk llamado La Masa o El Hombre Increíble en muchas de las traducciones al español es un personaje ficticio, un superhéroe que aparece en los cómics estadounidenses publicados por la editorial Marvel Comics. Lorem ipsum dolor sit
                        amet consectetur, adipisicing elit. Amet saepe asperiores repudiandae doloremque. Harum placeat voluptatem voluptatibus ad veniam labore Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
        <!-- card daredevil -->
        <div class="col">
            <div class="card">
                <div class="daredevil img margin"></div>
                <div class="card-body ">
                    <h5 class="card-title ">Daredevil</h5>
                    <p class="card-text ">Daredevil, también llamado Dan Defensor, Diablo Defensor o Diabólico en muchas de las traducciones al español, alter ego de Matthew Michael "Matt" Murdock, es un superhéroe ficticio que aparece en los cómics estadounidenses publicados
                        por Marvel Comics. Daredevil fue creado por el escritor y editor Stan Lee y el artista Bill Everett, con una cantidad no especificada de aportes de Jack Kirby. El personaje apareció por primera vez en Daredevil #1 abril de 1964
                        en la Edad de Plata de los cómics.</p>
                </div>
            </div>
        </div>

    </div>
</div>